@charset "utf-8";

/*
 
   Reset Style Sheet
   Author: Sim Zhi Ren Tenzin
   Date: 16 May 2021
   
   Filename: reset.css

*/

/* Structural Styles */
article, aside, figcaption, figure, footer, header, main, nav, section{
    display: block;
}



/* Typographic Styles */
* {
    background: transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}
